/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/ink-free');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
/* end fonts */

/* common */
.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* header */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    letter-spacing: 2px;
}

/* excepted index.html */
.normal-hd {
    position: relative !important;
    border-bottom: 2px solid;
    border-color: #efefef;
}
/* excepted index.html */

.navbar-collapseEdit {
    flex-grow: 0;
}

.hd-container {
    padding: 0 7vw;
}

ul li.item:not(:first-of-type) {
    padding-left: .8vw;
}

.catch-phrase {
    font-family: 'Zen Old Mincho', serif;
    margin-bottom: 2rem;
}

.catch-copy {
    font-family: 'Ink Free', sans-serif;
    font-size: 8vw;
}
/* end header */

/* footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* footer end */

/* common end */

/* main(index.html) */
.mainContents {
    width: 100%;
    height: auto;
    padding: 30vh 0;
    text-align: center;
    align-items: center;
    background-image: url("../img/bg-img01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    animation-name: fadeInAnime;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnime {
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
}

.headline {
    z-index: 10;
}

.bg-img-blur {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-search {
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
    border: none;
    border-radius: 1.25rem;
    background: linear-gradient(to right, #f173d6, #0468ff);
    padding: 0.5rem 2.95rem;
    border-color: aliceblue;
}

/* main end */


/* form-search(index.html) */
.form-search {
    text-align: center;
}



/* form-search end */

/*------ post(post.html)------- */
/* .planning {
    margin-top: 30px;
}

.planning-wrapper {
    display: flex;
    justify-content: space-around;
}

.post-plan-form > input {
    display: block;
    width: 100%;
    margin: 20px;
}

#map {
    width: 40vw;
    height: 50vh;
    margin: 0 auto;
}

.input_geo_name {
    width: 500px;
} */

.post-wrapper {
    display: flex;
    margin-bottom: 3rem;
}

.planning, .mapping {
    padding: 20px;
}

.planning {
    position: relative;
    text-align: center;
    /* background: pink; */
    /* width: 60%; */
    flex-grow: 1;
    margin-right: 2em;
}

.planning::after {
    position: absolute;
    content: "";
    top: 3%;
    left: 92%;
    width: 5px;
    height: 94%;
    margin: 0 1rem;
    background-color: rgb(0 0 0 / 25%);
}

/* .planning .head-post {
    position: relative;
} */
.head-post .under{
    position: relative;
}

.head-post .under::after {
    position: absolute;
    content: "";
    bottom: -25%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ff9393;
}

.mapping {
    text-align: center;
    /* background: skyblue; */
    /* width: 40%; */
    flex-grow: 1;
}

.head-post {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.1em;
}

.planning-form {
    width: 60%;
    margin: 0 auto;
}

.mapping ul {
    background-color: #f0f0f0;
    padding: 30px;
}

.add-plan-btn {
    border-radius: 1.5rem;
    padding: .475rem 1.1rem;
}

.delete-plan-btn {
    border-radius: 1.5rem;
    color: #FFFFFF;
    background-color: #ff0505e0;
    border-color: #ff0505e0;
    padding: .475rem 1.1rem;
}

.delete-plan-btn:hover {
    color: #FFFFFF;
    background-color: #b40d0de0;
    border-color: #b40d0de0;
    padding: .475rem 1.1rem;
}

.submit-plan-btn {
    border-radius: 1.5rem;
    padding: .475rem 1.1rem;
}

.plan-map-wrapper {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}



/* -------end post(post.html)------- */

/* ----------login.html---------- */

.heading {
    font-size: 24px;
    letter-spacing: 0.1em;
}

.line-container {
    width: 20%;
    margin: 0 auto;
}

.post-btn {
    padding: .475rem 1.1rem;
}

.user-form {
    width: 40%;
}

/* ----------end login.html---------- */


.video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000;
    /* margin-top: 70px; */

}

.video-container{aspect-ratio:16 / 9;width:100%;height:100%}

/* 縦横比率をレスポンシブに */
iframe {aspect-ratio:16 / 9;width:100%;height:100%}

.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.column{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 30px;
}


/* 境界線 */
.title{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.title h1{
    max-width: 80%;
    padding-left: 0px;
    padding-bottom: 15px;
}

.user_info{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);

}

.trip-route{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}


/* プロフィール */

/* フォローボタン */

.follow-button{
    margin-top: 15px;
    margin-left: 50px;
    display: block;
    width:200px;
    height:60%;
}

.follow-button {
 
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
    :hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    
}

.profile__img {
    margin-top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius:50%;
    /* margin: 0 auto; */
  }

  .user_info {
    display: flex;
    flex-direction: row;
    background: #FFF;
    /* padding: 2rem; */
    height: 70px;
  }

  .user_name{
    font-size: medium;
    position:relative;
    color: gray;
    margin-left: 20px;
    padding:25px 0;
    height: 50px;
    align-items: center;
  }
  
  .destination-num{
    position: absolute;
    left: 51px;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    background: #B8FFCC;
  }


.content-facade {
    position: absolute;
    height: 44px;
    cursor: pointer;
}


/* ここからcontentのlist */
ol {
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -40px;
  }

ol li {
display: block;
position: relative;
}

ol li span {
margin-left: 40px;
}


ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    background: linear-gradient(90deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 2em;
    font-weight: 700;
  }

.line{
    margin-left: 15px;
    position: relative;
}

.start-point li::marker{
    /* content: "🚩"; */
    font-size: 35px;
}
.end-point li::marker{
    /* content: "🚩"; */
    font-size: 35px;

}

/* いいねボタン */

  input[type="checkbox"] {
    display: none;
  }
  label {
    padding-left: 15px;
    position: relative;
    cursor: pointer;
  }
  label svg {
    width: 50px;
  }
  input[type="checkbox"] + label svg {
    fill: #dedede;
    transition: all .3s;
  }
  input[type="checkbox"]:checked + label svg {
    fill: #ff0033dd;
    animation: like .8s ease-out;
    transition: all .3s;
  }

  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid #ff0033dd;
    border-radius: 50%;
    animation: circle .8s ease-out;
    opacity: 0;
    top: -10px;
    left: -4px;
    z-index: -100;
  }


/* ここまでcontentのlist */


.plan-page-map {
    /* width: 80%; */
    margin: auto;
    width: 90%;
    height: 500px;
    border: 3px solid;
    padding: 10px;
  
}


.map-container{
    margin-top: 20px;
}

  /* マップとスケジュールを2分割 */
@media ( min-width : 600px ){

    .flexbox {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    }
    
.schedule-container,
.map-container  
{

    -webkit-flex: 1;
    flex: 1;
    background: none;
}
}

.schedule-container{
    margin-left: 20px;
    margin-right: 20px;
}

.map-container {
    margin-right: 20px;
}

/* ここからプランページ一覧のcss */

.plan-info{
    display: flex;
    flex-direction: row;
}

.plan-grid-layout{
    margin: 30px 50px;
}

.plan-grid-layout{
    display: grid;
    /* 3カラムのグリッド */
    grid-template-columns: 1fr 1fr 1fr;

    /* column-gap: 50px; */
}


.plan-grid-layout>div{
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.thumbnail img {aspect-ratio:16 / 9;width:100%;height:100%}


.thumbnail img {
    width: 100%;
}

.plan-user-info{
    width: 45px;
    height: 45px;
}


.plan-user-info img{
    margin-left: 10px;
    margin-top:10px;
    /* display: block; */
    /* height: ; */
    width: 45px;
    height: 45px;
    border-radius:50%;
}



.plan-details{
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

.plan-details h3 {
    display: block;
    text-align:left;
    margin-left: 0%;
    font-size: medium;
    margin: auto;
    table-layout: fixed;
    /* height: 50%; */
}

.plan-details p{
    color: gray;
    font-size: small;
    padding-top: 8px;
    /* height: 50%; */
}

/* ここまでプランページ一覧のcss */


/* ここからページネーション */


.pagination{
    margin-top: 30px;
    margin-bottom: 50px;

}

.plans-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}