.submit-search-plans {
    margin-left: 3%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
    border: none;
    border-radius: 1.25rem;
    background: linear-gradient(to right, #ffd9f7, #4184e8);
    padding: 0.5rem 2.45rem;
    border-color: aliceblue;
}

.search-input-wrapper-plans {
    display: inline-block;
    text-align: center;
    width: 37%;
    margin-right: 20px;
}

.plan-info{
    display: flex;
    flex-direction: row;
}

.plan-grid-layout{
    margin: 30px 50px;
}

.plan-grid-layout{
    display: grid;
    /* 3カラムのグリッド */
    grid-template-columns: 1fr 1fr 1fr;

    /* column-gap: 50px; */
}


.plan-grid-layout>div{
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.thumbnail img {aspect-ratio:16 / 9;width:100%;height:100%}


.thumbnail img {
    width: 100%;
}

.plan-user-info{
    width: 45px;
    height: 45px;
}


.plan-user-info img{
    margin-left: 10px;
    margin-top:10px;
    /* display: block; */
    /* height: ; */
    width: 45px;
    height: 45px;
    border-radius:50%;
}




.plan-details{
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

.plan-details h3 {
    display: block;
    text-align:left;
    margin-left: 0%;
    font-size: medium;
    margin: auto;
    table-layout: fixed;
    /* height: 50%; */
}

.plan-details p{
    color: gray;
    font-size: small;
    padding-top: 8px;
    /* height: 50%; */
}

.plans-plan-description-comment{

    margin-top: 10px;
    margin-left: 20px;

    text-decoration: none;
    font-family: "Roboto","Arial",sans-serif;
    max-height: 100px;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 3;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    bottom: 30px;
}
.plans-plan-description-comment p{
    color: gray;
    font-size: 15px;
}

.plans-plan-description-price-days h3{
    text-align: right;
    font-weight: bold;
}

.plans-plan-description-price-days h4{
    text-align: right;
    color: gray;
}



/*  */
.plans-wrapper{
    display: flex;
    flex-direction: column;
    margin: 30px 100px;

}

.plans-plan-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 270px;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    opacity: 0;
    transition: .7s;
    position: relative;
    top: 50px;
}

.plans-plan-description{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
}

.plans-plan-description-details{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;

}

.plans-plan-description-user-plan-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.plans-plan-description-user-info{
    display: flex;
    flex-direction: row;
    max-width:50%;
}

.plans-plan-right{
    margin-right: 50px;
    width: 300px;
    flex: 0 0 32%;
    position: relative;

}

.plans-plan-left{
    margin-left: 20px;
}

.plans-plan-content-thumbnail-img{
    aspect-ratio:16 / 9;
    height: 100%;
    width: 450px;
    border-radius: 10px 0 0 10px
}

.plans-body-background{
    background-color: #f8f8f8;
}


.plans-plan-description-title{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    max-height: 30%;
}

.plans-plan-description-title h3{
    text-decoration: none;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;

}

.plans-plan-description-title a {
    text-decoration: none;
    color:black;
}

.plans-plan-description-title a:hover {
    text-decoration: none;
    opacity: 70%;
}

.plans-plan-description-username p {
    font-size:large;
    margin-left: 30px;
    margin-top: 20px;
}

.plans-plan-description-like-link{
    display: flex;
    flex-direction: row;
    height: 30px;
    position: relative;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right:-10px
}


.plans-plan-description-like-link p{
    margin-right: 30px;
    margin-top: 4px;
    color: gray;
    font-size: 18px;
}

.plans-plan-description-like-link img{
    width: 25px;
    height: 25px;
    opacity: 20%;
    margin-right: 20px;
    margin-top: 5px;
}

.plans-plan-description-like-link-delete{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 30px;
    position: relative;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right:-10px
}

.plans-plan-description-like-link-delete input{
    text-align:left;
    width: 25px;
    height: 25px;
    opacity: 20%;
    margin-right: 20px;
    margin-top: 5px;
}

.plans-plan-description-like-link-delete p{
    /*display:inline-block;*/
    margin-right: 30px;
    margin-top: 4px;
    color: gray;
    font-size: 18px;
}

.plans-plan-description-like-link-delete img{
    display:inline-block;
    width: 25px;
    height: 25px;
    opacity: 20%;
    margin-right: 20px;
    margin-top: 5px;
}

/* plans.htmlのいいねボタン */

input[type="checkbox"] {
    display: none;
  }
 .plans-like-label {
    right: 90px;
    position: absolute;
    cursor: pointer;
  }
  .plans-like-label svg {
    width: 35px;
  }
  input[type="checkbox"] + .plans-like-label svg {
    fill: #dedede;
    transition: all .3s;
  }
  input[type="checkbox"]:checked + .plans-like-label svg {
    fill: #ff0033dd;
    animation: like .8s ease-out;
    transition: all .3s;
  }

  input[type="checkbox"]:checked + .plans-like-label::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border: 5px solid #ff0033dd;
    border-radius: 50%;
    animation: circle .8s ease-out;
    opacity: 0;
    top: -10px;
    left: -4px;
    z-index: -100;

}

.pagination {
    margin-top: 30px;
    margin-bottom: 50px;
}

.plans-paginate {
    margin-bottom: 60px;
}

.plans-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}