/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/ink-free');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
/* end fonts */

/* common */
.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* header */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    letter-spacing: 2px;
}

/* excepted index.html */
.normal-hd {
    position: relative !important;
    border-bottom: 2px solid;
    border-color: #efefef;
}
/* excepted index.html */

.navbar-collapseEdit {
    flex-grow: 0;
}

.hd-container {
    padding: 0 7vw;
}

ul li.item:not(:first-of-type) {
    padding-left: .8vw;
}

.catch-phrase {
    font-family: 'Zen Old Mincho', serif;
    margin-bottom: 2rem;
}

.catch-copy {
    font-family: 'Ink Free', sans-serif;
    font-size: 8vw;
}
/* end header */

/* footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* footer end */

/* common end */

/* main(index.html) */
.mainContents {
    width: 100%;
    height: auto;
    padding: 30vh 0;
    text-align: center;
    align-items: center;
    background-image: url("../img/bg-img01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.headline {
    z-index: 10;
}

.bg-img-blur {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-search {
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
    border: none;
    border-radius: 1.25rem;
    background: linear-gradient(to right, #f173d6, #0468ff);
    padding: 0.5rem 2.95rem;
    border-color: aliceblue;
}

/* main end */


/* form-search(index.html) */
.form-search {
    text-align: center;
}
/* form-search end */

/* post(post.html) */
.planning {
    margin-top: 30px;
}

.planning-wrapper {
    display: flex;
    justify-content: space-around;
}

.post-plan-form > input {
    display: block;
    width: 100%;
    margin: 20px;
}
/* end post(post.html) */


