<!-- 透明なnavbarバージョンのlayout -->
<!DOCTYPE html>
<html lang="ja">
<head id="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-log index</title>
    <!-- bootstrap(css)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- end bootstrap(css) -->
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <!-- <link rel="stylesheet" href="../../../static/css/style.css"> -->

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script>
        try {
            place_info_li = {{ place_info_li | tojson}}
            console.log(place_info_li)
        } catch (error) {
            console.error(error);
        }

        try {
            plan_info = {{ plan_info | tojson}}
        } catch (error) {
            console.error(error);
        }


    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='javascripts/planpage.js') }}"></script>
</head>
<body>

    <img class="image_result">

    <!-- <script>console.log("ok")</script> -->
    <div class="wrapper">

            <!-- header -->
            <!--<header class="header normal-hd">
                <nav class="navbar navbar-expand-lg navbar-light .bg-dark text-black">
                    <div class="container-fluid hd-container">
                        <a class="navbar-brand fs-4" href="/">T-log</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item item">
                                    <a class="nav-link" aria-current="page" href="/">TOP</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/#search">SEARCH</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/plans">PLANS</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/post">POST</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/inquiry">FAQ</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/login">LOG IN</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/register">REGISTER</a>
                                </li>
                                <li class="nav-item dropdown item">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        DROPDOWN
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>-->

            {% if status is true %}
            <header class="header normal-hd">
                <nav class="navbar navbar-expand-lg navbar-light .bg-dark text-black">
                    <div class="container-fluid hd-container">
                        <a class="navbar-brand fs-4" href="/">T-log</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item item">
                                    <a class="nav-link active text-white" aria-current="page" href="#">TOP</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="#search">SEARCH</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/plans">PLANS</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/post">POST</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/logout">LOG OUT</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="#">{{ user_name }}さん</a>
                                </li>
                                <li class="nav-item dropdown item">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        PROFILE
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            

            {% else %}
            <header class="header normal-hd">
                <nav class="navbar navbar-expand-lg navbar-light .bg-dark text-black">
                    <div class="container-fluid hd-container">
                        <a class="navbar-brand fs-4" href="/">T-log</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item item">
                                    <a class="nav-link active text-white" aria-current="page" href="/">TOP</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="#search">SEARCH</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/plans">PLANS</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/login">LOG IN</a>
                                </li>
                                <li class="nav-item item">
                                    <a class="nav-link" href="/register">REGISTER</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            {% endif %}


            <div class="main">
                <div class="video-container">
                    <iframe id = "youtube-iframe" width="560" height="315" class="youtube-video" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="column">
                    <div class="flexbox">
                        <div class="schedule-container">
                            <div class="title">
                                <h2>{{ plan_info[0]["title"] }}</h2>
                                <!-- ユーザーがログインしていたら、いいねボタンを表示 -->
                                {% if user_id %}
                                    <!-- ユーザーが既にlikeしていたら、色を変える -->
                                    {% if is_liked is true %}
                                        <input type="checkbox" id="like" checked><label for="like"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg></label>
                                    {% elif is_liked is false %}
                                        <input type="checkbox" id="like"><label for="like"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg></label>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="user_info">
                                <div class="content-userinfo-upper">
                                    <img class="profile__img" src="{{ url_for('static',filename='img/profile01.jpeg') }}" width ="45" height="45" alt="profile">
                                    <h3 class="user_name">{{plan_info[0]["name"]}}</h3>
                                    <div class="button">
                                        <button type="button" class="follow-button">フォロー</button>
                                    </div>
                                </div>

                                <div class="content-plan-comment">
                                    <div class="plan-comment-box">
                                        <p>
                                            {{plan_info[0]["description"]}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="trip-route">
                                <div class="start-point">
                                    <ul><span></span></ul>
                                </div>
                                <!-- 場所の名前 -->
                                <ol class="list place-ol">
                                    {% for place_info in place_info_li %}
                                            <!-- 縦線 -->
                                            <div class="line" style="background-color:#dedede; width:2px; height:30px;"></div>
                                                <details class="plan-content-site-details">
                                                    <summary class="plan-content-site-details-summary">
                                                        <li class="list-item one" name="list-item-0" id="plan-place-num">
                                                            <div class="accordiong-placename-icon-container">
                                                                <span>
                                                                    {{ place_info["place_name"] }}
                                                                </span>
                                                                <span class="accordion-icon"></span>
                                                            </div>
                                                        </li>
                                                    </summary>
                                                    <ul class="plan-place-details">
                                                        <li class="plan-place-details-rate">
                                                            ★★★★★★
                                                        </li>
                                                        <li class="plan-place-details-price">
                                                            ￥1000〜￥10000
                                                        </li>
                                                        <li>
                                                            コメントコメントコメントコメントコメントコメントコメントコメント
                                                        </li>
                                                        <button type="button" class="btn btn-primary">Book</button>
                                                    </ul>
                                                </details>
                                        
                                    {% endfor %}
                                    <div class="line" style="background-color:#dedede; width:2px; height:30px;"></div>

                                </ol>
                                <div class="end-point">
                                    <ul><span></span></ul>
                                </div>
                            </div>
                        </div>
                        <div class="map-container">
                            <div id="map" class="plan-page-map"></div>
                        </div>
                        </div>
                </div>

                <div class="links-container">

                    <h2 class="links-links" style="text-align:center">Links🔗</h2>

                    <div class="links-grid-layout">
                        <!-- urlが取得できるものだけ表示-->
                        {% for place_info in place_info_li %}
                            <!-- urlのあるものだけ表示 -->
                            {% if place_info["url"] == "WEBサイトが見つかりません" %}
                                <script>console.log("urlが取得できませんでした")</script>
                            {% else %}
                                <div class="link-grid-item">
                                    <a href={{ place_info["url"] }} class="icon-link" id="icon-link" target="_blank" rel="noopener noreferrer">
                                        <div class="property-icon">
                                            <h2>{{ place_info["types"][1] }}</h2>
                                        </div>
                                    </a>
                                        <div class="link-info">
                                            <div class="link-title">
                                                <h2>{{ place_info["place_name"] }}</h2>
                                            </div>
                                            <div class="link-details">
                                                <p>
                                                </p>
                                            </div>
                                        </div>
                                </div>
                            {% endif %}
                        {% endfor  %}
                    </div>         
            </div>
            
            
            <!--Google map -->
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSB9wJUooZ1GlQFPqjUUBZmFLp7Y04HzI&callback=initMap">
            </script>


        <footer class="text-center bg-dark p-3">
            <div class="copyright">
                <span class="text-white">T-log © Holdings Inc. All Rights Reserved.</span>
            </div>
        </footer>
    </div>

    <!-- bootstrap(js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- end bootstrap(js) -->
</body>
</html>