{% extends "layout-2.html" %}

{% block content %}

<main class="site-content">
    <div class="plan-grid-layout">
        <div class="plan-grid-item">
            <a href="{{ url_for('plan-content',username="username",post-id="post-id") }}">詳細</a>
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="plan-info">
                <div class="plan-user-info">
                    <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                </div>
                <div class="plan-details">
                    <h3>タイトルタイトルタイトルタイトル</h3>
                </div>
            </div>
        </div>
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="plan-info">
                <div class="plan-user-info">
                    <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                </div>
                <div class="plan-details">
                    <h3>タイトルタイトルタイトルタイトル</h3>
                </div>
            </div>
        </div>
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="plan-info">
                <div class="plan-user-info">
                    <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                </div>
                <div class="plan-details">
                    <h3>タイトルタイトルタイトルタイトル</h3>
                </div>
            </div>
        </div>
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="plan-info">
                <div class="plan-user-info">
                    <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                </div>
                <div class="plan-details">
                    <h3>タイトルタイトルタイトルタイトル</h3>
                </div>
            </div>
        </div>
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="plan-info">
                <div class="plan-user-info">
                    <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                </div>
                <div class="plan-details">
                    <h3>タイトルタイトルタイトルタイトル</h3>
                </div>
            </div>
        </div>
    </div>


</main>

{% endblock %}