{% extends "layout-2.html" %}

{% block content %}

<main class="site-content">
    <div class="plan-grid-layout">
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="info">
                <div class="title"></div>
                <div class="user-info"></div>
            </div>
        </div>
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="plan-info">
                <div class="title">
                    <h3>タイトル</h2>
                </div>
                <div class="plan-details">
                    <div class="plan-user-info">
                        <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                        <h3 class="user_name">Title</h3>
                    </div>
                    <div class>

                    </div>
                </div>
            </div>
        </div>
        <div class="plan-grid-item">
            <div class="thumbnail">
                <img src="../static/img/mare-fa-bene-2.jpeg" alt="picture">
            </div>
            <div class="info">
                <div class="title"></div>
                <div class="user-info"></div>
            </div>
        </div>
    </div>
</main>

{% endblock %}