{% extends "layout-3.html" %}

{% block title %}
T-log post
{% endblock %}

{% block content %}
<main class="post-wrapper">
    <section class="banner">
        <div class="post-banner-wrapper">
            <p>＼あなたの<br class="spOnly">思い出が誰かの思い出に／
            <h1>
                <figure>
                    <picture>
                        <!-- <source media="(max-width:749px)" srcset="static/img/logo_sp.png" /> -->
                        <img src="static/img/logo.png" alt="T-log Logo" class="post-logo">
                    </picture>
                </figure>
            </h1>
            <p>最高の旅行体験を、あなたに。</p>
        </div>
    </section>
    <section class="planning">
        <div class="column">
            <div class="flexbox">
                <div class="schedule-container">
                    <div class="trip-route">
                        <div class="start-point">
                            <ul><span></span></ul>
                        </div>
                        <!-- 場所の名前 -->
                        <ol class="list place-ol">
                            {% for place_info in place_info_li %}
                                    <!-- 縦線 -->
                                    <div class="plan-gray-line" style="background-color:#dedede; width:2px; height:30px;"></div>
                                        <details class="plan-content-site-details" open>
                                            <summary class="plan-content-site-details-summary">
                                                <li class="list-item one" name="list-item-0" id="plan-place-num">
                                                    <div class="accordiong-placename-icon-container">
                                                        <span>
                                                            {{ place_info["place_name"] }}
                                                        </span>
                                                        <span class="accordion-icon"></span>
                                                    </div>
                                                </li>
                                            </summary>
                                            <ul class="plan-place-details">
                                                <li class="plan-place-details-rate">
                                                        <div class="form-group">
                                                          <div class="form-group">
                                                            <label for="exampleFormControlSelect1">price</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                </li>
                                                <li class="plan-place-details-price">
                                                    ￥1000〜￥10000
                                                </li>
                                                <li class="plan-place-details-comment">
                                                    コメントコメントコメントコメントコメントコメントコメントコメント
                                                    コメントコメントコメントコメントコメントコメントコメントコメント
                                                    コメントコメントコメントコメントコメントコメントコメントコメント
                                                    コメントコメントコメントコメントコメントコメントコメントコメント
                                                </li>
                                                <li>

                                                    <div class="d-grid gap-2">
                                                        <button type="button" class="btn btn-primary">Book</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </details>
                                
                            {% endfor %}
                            <div class="plan-gray-line" style="background-color:#dedede; width:2px; height:30px;"></div>

                        </ol>
                        <div class="end-point">
                            <ul><span></span></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript" src="../static/javascripts/addplan.js"></script>
<script type="text/javascript" src="../static/javascripts/post.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzPnXBdTHVD7TPyVKGuaGjnwZjh2Jyif0&libraries=places&callback=initMap"></script>
{% endblock %}