{% extends "layout-2.html" %}
{% block content %}
<!-- end header -->

<!-- <main class="planning">
  <div class="planning-wrapper">
    <div class="plan-form">
        <div class="add-btn-container">
          <button class="add-btn"></button>
        </div>
        <form class="post-plan-form" action="" method="POST">
            <input type="text" id="autocomplete" class="input_geo_name">
            <input type="text" name="location2">
            <input type="text" name="location3">
            <button type="submit" name="submit" value="確定">
        </form>
    </div>
    <div class="plan-location">
        <div id="map">地図を表示</div>
        <h2 id="details" class="input_geo_name"></h2>
        <!-- <div> 今は必要ない----------------------
            <a src="" id="site_url"></a>
        </div> ---------------------------------------->
    <!-- </div>
  </div>
</main> -->

<main class="post-wrapper">
    <section class="planning">
        <h2 class="mb-3">プランを投稿する</h2>
        <form action="" method="POST" class="planning-form">
            <div class="mb-3">
                <label for="plan-title" class="form-label">プランタイトル</label>
                <input type="text" class="form-control" id="plan-title" name="plan-title" placeholder="プランのタイトルを入力">
            </div>
            <div class="mb-3">
                <label for="vlog-url" class="form-label">YouTubeのURL</label>
                <input type="text" class="form-control" id="vlog-url" name="vlog-url" placeholder="YouTubeのURLを入力">
            </div>
            <div class="plan-places">
                <div class="mt-5 mb-3 fs-4 fw-bold">
                    <p>場所を選択</p>
                </div>
                <div class="place-container" id="place-container">
                    <div class="mb-3">
                        <!-- <label for="place" class="form-label">1番目</label> -->
                        <input type="text" class="form-control autocomplete" id="autocomplete" name="place01" placeholder="場所を入力し、選択して下さい">
                    </div>
                </div>
                <div class="mt-5 mb-5 d-flex justify-content-evenly btn_wrapper">
                    <button type="button" class="btn btn-primary add-plan-btn" id="add-plan-btn">場所を追加</button>
                    <button type="button" class="btn delete-plan-btn">場所を削除</button>
                </div>
            </div>
            <div class="description_wrapper">
                <label for="description" class="form-label">旅行の概要</label>
                <textarea class="form-control" id="description" name="vlog-url" placeholder="旅行の概要を入力" wrap="soft"></textarea>
            </div>
            <div class="mt-5 submit-container">
                <button type="submit" class="btn btn-primary submit-plan-btn">投稿する</button>
            </div>
        </form>
    </section>
    <section class="mapping">
        <div class="plan-map-wrapper">
            <div id="map"></div>
        </div>
    </section>
    </section>
</main>


<!-- load scripts relate to maps -->
<script type="text/javascript" src="../static/javascripts/addplan.js"></script>
<script type="text/javascript" src="../static/javascripts/search.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzPnXBdTHVD7TPyVKGuaGjnwZjh2Jyif0&libraries=places&callback=initMap"></script>

<footer class="text-center bg-dark p-3">
    <div class="copyright">
        <span class="text-white">T-log © Holdings Inc. All Rights Reserved.</span>
    </div>
</footer>
</div>

<!-- bootstrap(js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- end bootstrap(js) -->
{% endblock %}
</body>
</html>