{% extends "layout-2.html" %}

{% block content %}
    <!-- header -->

    <!-- form -->
    <main class="form">
        <h2>新規登録</h2>
        <form action="" method="POST">
            <input type="email" name="email" placeholder="メールアドレス">
            <input type="password" name="password" placeholder="パスワード">
            <input type="password" name="confirm-password" placeholder="確認用パスワード">
            <button type="submit" name="submit" value="新規登録">
        </form>
    </main>
    <!-- form -->
{% endblock %}
</body>
</html>