{% extends "layout-2.html" %}

{% block content %}

    {% if error_message %}
    <h2>{{ error_message }}</h2>
    {% endif %}

    <!-- form -->
    <main class="form-wrapper mt-5">
        <form method="POST" class="mx-auto user-form">
            <h1 class="text-center heading">新規登録</h1>
            <div class="line-container">
                <hr class="text-center heading-line">
            </div>
            <div class="mb-4">
                <label for="email" class="form-label">メールアドレス</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="example@xxxxx.com">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="mb-5">
                <label for="confirm-password" class="form-label">パスワード（再入力）</label>
                <input type="password" name="confirm-password" class="form-control" id="confirm-password">
            </div>
            <div class="mb-4">
                <label for="user-name" class="form-label">ユーザーネーム</label>
                <input type="text" name="user-name" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary post-btn">新規登録する</button>
            </div>
        </form>
    </main>
    <!-- form -->
{% endblock %}
