<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-log index</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <section class="navBlock">
            <h1 class="Logo">
                <a href="/">
                    <figure>
                        <picture>
                            <!-- 拡張子はsvg(現段階) -->
                            <img src="img/logo.svg" alt="T-log Logo">
                        </picture>
                    </figure>
                </a>
            </h1>
            <div class="navWrap">
                <nav class="gNav">
                    <ul>
                        <li class="nav01">
                            <a href="./index.html">
                                TOP
                            </a>
                        </li>
                        <li class="nav02">
                            <a href="./search.html">
                                SEARCH
                            </a>
                        </li>
                        <li class="nav-item item">
                            <a class="nav-link text-white" href="plans">PLANS</a>
                        </li>
                        <li class="nav03">
                            <a href="./login.html">
                                LOG IN
                            </a>
                        </li>
                        <li class="nav04">
                            <a href="./register.html">
                                REGISTER
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <!-- header -->

    <!-- form -->
    <main class="form">
        <h2>新規登録</h2>
        <form action="" method="POST">
            <input type="email" name="email" placeholder="メールアドレス">
            <input type="password" name="password" placeholder="パスワード">
            <input type="password" name="confirm-password" placeholder="確認用パスワード">
            <button type="submit" name="submit" value="新規登録">
        </form>
    </main>
    <!-- form -->

    <footer>
        <div class="copyright">
           <p>T-log © Holdings Inc. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>