{% extends "layout.html" %}

{% block header %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
    <p class="flash-messages">{{msg}}</p>
    {% endfor %}
{% endif %}
{% endwith %}

{% if status %}
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light .bg-transparent text-white">
      <div class="container-fluid hd-container">
          <a class="navbar-brand text-white fs-4 logo-" href="/">T-log</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="#search">SEARCH</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link text-white" href="plans">PLANS</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link text-white" href="post">POST</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="logout">LOG OUT</a>
                  </li>
                  <!-- My page へのリンク（自分の投稿一覧が見れる、、とか） -->
                  <li class="nav-item item">
                      <!--<a class="nav-link text-white" href="mypage">{{ user_name }}さん</a>-->

                      <a class="nav-link text-white" href="mypage/{{ user_id }}">{{ user_name }}さん</a>

                  </li>
                  <li class="nav-item dropdown item">
                      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          PROFILE
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

{% else %}
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light .bg-transparent text-white">
      <div class="container-fluid hd-container">
          <a class="navbar-brand text-white fs-4 logo-" href="/">T-log</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item item">
                      <a class="nav-link active text-white" aria-current="page" href="/">TOP</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="#search">SEARCH</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link text-white" href="plans">PLANS</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="login">LOG IN</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="register">REGISTER</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
{% endif %}
{% endblock %}


{% block content %}
    <!-- main -->
    <main role="main" class="d-flex flex-column align-items-center mainContents">
        <div class="bg-img-blur"></div>
        <div class="headline">
            <h1 class="catch-copy text-white">Vlog × Travel</h1>
            <p class="catch-phrase text-white">最高の旅行体験を、あなたに。</p>
            <a href="#search"><button type="button" class="btn btn-search">プランを探す</button></a>
        </div>
    </main>
    <!-- end main -->

    <!-- showPlan -->
    <section class="mt-5 mb-5 showPlan d-flex flex-column align-items-center">
        <h2 class="head-text"><span class="under">人気の旅行プラン</span></h2>
        <div class="container mt-5 popularPlan">
            <div class="row row-cols-3 text-center">
                {% for plan in plans %}
                <div class="plan-grid-item col plan-item">
                    <!-- 以下に値を渡す -->
                    <a href="{{ url_for('plan_content',user_id=plan["user_id"],post_id=plan["id"]) }}">
                        <div class="thumbnail">
                            <img src="https://img.youtube.com/vi/{{ plan["video_id"] }}/maxresdefault.jpg" alt="picture">
                        </div>
                    </a>
                        <div class="plan-info">
                            <div class="plan-user-info">
                                <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                            </div>
                            <div class="plan-details">
                            <a href="{{ url_for('plan_content',user_id=plan["user_id"],post_id=plan["id"]) }}">
                                <h3>{{ plan["title"] }}</h3>
                            </a>
                            <p>{{plan["name"]}}</p>
                            </div>
                        </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- showPlan -->

    <section class="py-5 d-flex flex-column align-items-center search" id="search">
      <h2 class="head-text"><span class="under">さがす</span></h2>
        <div class="container my-5">
            <form class="form-search" method="POST" action="./search">
                <div class="mt-2">
                    <label for="place_box" class="form-label">場所</label>
                    <input type="text" name="place" id="place_box" class="form-control" placeholder="場所を入力し、選択して下さい">
                    <input type="hidden" name="place_id_box" id="place_id_box" class="form-control" value="">
                </div>
                <div class="mt-5 mb-5">
                    <label for="vlog-url" class="form-label">YouTubeの共有URL</label>
                    <input type="text" name="vlog-url" id="vlog-url" class="form-control vlog-url-box" placeholder="共有URLを入力">
                </div>
                <button type="submit" class="btn btn-outline-primary submit-search">さがす</button>
              </form>
        </div>
    </section>

    <script type="text/javascript" src="../static/javascripts/search.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzPnXBdTHVD7TPyVKGuaGjnwZjh2Jyif0&libraries=places&callback=initMap"></script>
{% endblock %}