<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-log index</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <section class="navBlock">
            <h1 class="Logo">
                <a href="/">
                    <figure>
                        <picture>
                            <!-- 拡張子はsvg(現段階) -->
                            <img src="img/logo.svg" alt="T-log Logo">
                        </picture>
                    </figure>
                </a>
            </h1>
            <div class="navWrap">
                <nav class="gNav">
                    <ul>
                        <li class="nav01">
                            <a href="./index.html">
                                TOP
                            </a>
                        </li>
                        <li class="nav02">
                            <a href="./index.html">
                                SEARCH
                            </a>
                        </li>
                        <li class="nav03">
                            <a href="./index.html">
                                LOG IN
                            </a>
                        </li>
                        <li class="nav04">
                            <a href="./index.html">
                                REGISTER
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>
    <!-- header -->

    <!-- main -->
    <main role="main" class="mainContents">
        <h1>Vlog × Travel</h1>
        <p>最高の旅行体験を、あなたに。</p>
        <p>ここに検索BOXを表示</p>
    </main>
    <!-- main -->

    <!-- showPlan -->
    <section class="showPlan">
        <div class="popularPlan">
            <h2>人気の旅行プラン</h2>
            <ul>
                <li class="plan">旅行プラン1</li>
                <li class="plan">旅行プラン2</li>
                <li class="plan">旅行プラン3</li>
                <li class="plan">旅行プラン4</li>
            </ul>
        </div>
    </section>
    <!-- showPlan -->

    <footer>
        <div class="copyright">
           <p>T-log © Holdings Inc. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>