{% extends "layout.html" %}

{% block header %}
{% if status is true %}

<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light .bg-transparent text-white">
      <div class="container-fluid hd-container">
          <a class="navbar-brand text-white fs-4 logo-" href="/">T-log</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item item">
                      <a class="nav-link active text-white" aria-current="page" href="/">TOP</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="#search">SEARCH</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link text-white" href="plans">PLANS</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link text-white" href="post">POST</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="logout">LOG OUT</a>
                  </li>
                  <!-- My page へのリンク（自分の投稿一覧が見れる、、とか） -->
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="#">{{ email }}さん</a>
                  </li>
                  <li class="nav-item dropdown item">
                      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          PROFILE
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

{% else %}
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light .bg-transparent text-white">
      <div class="container-fluid hd-container">
          <a class="navbar-brand text-white fs-4 logo-" href="/">T-log</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mr-1 navbar-collapseEdit" id="navbarNavDropdown">
              <ul class="navbar-nav">
                  <li class="nav-item item">
                      <a class="nav-link active text-white" aria-current="page" href="/">TOP</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="#search">SEARCH</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link text-white" href="plans">PLANS</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="login">LOG IN</a>
                  </li>
                  <li class="nav-item item">
                      <a class="nav-link text-white" href="register">REGISTER</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
{% endif %}
{% endblock %}


{% block content %}
    <!-- main -->
    <main role="main" class="d-flex flex-column align-items-center mainContents">
        <div class="bg-img-blur"></div>
        <div class="headline">
            <h1 class="catch-copy text-white">Vlog × Travel</h1>
            <p class="catch-phrase text-white fs-4">最高の旅行体験を、あなたに。</p>
            <a href="#search"><button type="button" class="btn btn-search">プランを探す</button></a>
        </div>
    </main>
    <!-- end main -->

    <!-- showPlan -->
    <section class="mt-5 showPlan d-flex flex-column align-items-center">
        <h2>人気の旅行プラン</h2>
        <div class="container mt-4 popularPlan">
            <div class="row row-cols-3 text-center">
                <div class="col plan-item">Column</div>
                <div class="col plan-item">Column</div>
                <div class="col plan-item">Column</div>
            </div>
        </div>
    </section>
    <!-- showPlan -->

    <section class="mt-5 d-flex flex-column align-items-center search" id="search">
        <h2>さがす</h2>
        <div class="container my-5">
            <form class="form-search" method="POST" action="">
                <div class="mb-4 form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <p class="text-center">都道府県からさがす</p>
                    </div>
                    <div class="col-md-8">
                      <input type="email" name="email" class="form-control" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="mb-4 form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <p class="text-center">vlogのurl</p>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="name" class="form-control" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="mb-4 form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <p class="text-center">タグ</p>
                      </div>
                      <div class="col-md-8">
                        <input type="text" name="name" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="mb-4 form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <p class="text-center">行きたい場所</p>
                      </div>
                      <div class="col-md-8">
                        <input type="text" name="name" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                <button type="submit" class="btn btn-outline-primary">送信</button>
              </form>
        </div>
    </section>
{% endblock %}