<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Google Maps API サンプル</title>
  </head>
  <body>
    <p>東京駅はこちらです。</p>

    <div id="map" style="width:600px; height:400px"></div>

    <p>分からない場合はご連絡下さい。</p>

    <script type="text/javascript" src="../static/javascripts/sample.js">
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSB9wJUooZ1GlQFPqjUUBZmFLp7Y04HzI&callback=initMap">
    </script>
  </body>
</html>
