<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <h1>投稿画面</h1>
    </div>

    <form>
      <div class="row">
        <label class="col-sm-3 col-form-label">旅行タイトル </label>
        <div class="col-sm-9">
          <p>
            <input type="text" name="text" autocomplete="tel" class="form-control" placeholder="090-0000-0000" maxlength="50" required/>
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">都道府県</label>
        <div class="col-sm-9" style="padding-top: 7px;">
          <select class="custom-select w-30" title="territory" name="territory" autocomplete="territory-japan" multiple>
            <option value="selected">都道府県を選択</option>
            <optgroup label="北海道・東北">
              <option value="Hokkaido">北海道</option>
              <option value="Aomori">青森県</option>
              <option value="Akita">秋田県</option>
              <option value="Iwate">岩手県</option>
              <option value="Yamagata">山形県</option>
              <option value="Miyagi">宮城県</option>
              <option value="Fukushima">福島県</option>
            <optgroup label="関東">
              <option value="Ibaraki">茨城県</option>
              <option value="Tochigi">栃木県</option>
              <option value="Gunma">群馬県</option>
              <option value="Saitama">埼玉県</option>
              <option value="Kanagawa">神奈川県</option>
              <option value="Chiba">千葉県</option>
              <option value="Tokyo">東京都</option>
            <optgroup label="中部">
              <option value="Yamanashi">山梨県</option>
              <option value="Nagano">長野県</option>
              <option value="Niigata">新潟県</option>
              <option value="Toyama">富山県</option>
              <option value="Ishikawa">石川県</option>
              <option value="Fukui">福井県</option>
              <option value="Gifu">岐阜県</option>
              <option value="Shizuoka">静岡県</option>
              <option value="Aichi">愛知県</option>
            <optgroup label="近畿">

              <option value="Mie">三重県</option>
              <option value="Shiga">滋賀県</option>
              <option value="Kyoto">京都府</option>
              <option value="Osaka">大阪府</option>
              <option value="Hyogo">兵庫県</option>
              <option value="Nara">奈良県</option>
              <option value="Wakayama">和歌山県</option>
            <optgroup label="中国">
              <option value="Tottori">鳥取県</option>
              <option value="Shimane">島根県</option>
              <option value="Okayama">岡山県</option>
              <option value="Hiroshima">広島県</option>
              <option value="Yamaguchi">山口県</option>
            <optgroup label="四国">
              <option value="Tokushima">徳島県</option>
              <option value="Kagawa">香川県</option>
              <option value="Ehime">愛媛県</option>
              <option value="Kochi">高知県</option>
            <optgroup label="九州・沖縄">
              <option value="Fukuoka">福岡県</option>
              <option value="Saga">佐賀県</option>
              <option value="Nagasaki">長崎県</option>
              <option value="Kumamoto">熊本県</option>
              <option value="Oita">大分県</option>
              <option value="Miyazaki">宮崎県</option>
              <option value="Kagoshima">鹿児島県</option>
              <option value="Okinawa">沖縄県</option>
          </select>
      </div>


      <div class="row">
        <label class="col-sm-3 col-form-label">行った場所 <span class="badge bg-danger">必須</span></label>
        <div class="col-sm-9">
          <div class="row mb-3">
            <label class="col-form-label col-sm-4">都道府県</label>
            <div class="col-sm-8">
              <input type="text" name="address-level1"
                     autocomplete="address-level1"
                     class="form-control"
                     placeholder="東京都" required/>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label col-sm-4">市区町村</label>
            <div class="col-sm-8">
              <input type="text" name="address-level2" autocomplete="address-level2" class="form-control"
                     placeholder="中央区" required/>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-form-label col-sm-4">番地等</label>
            <div class="col-sm-8">
              <input type="text" name="address-line1" autocomplete="address-line1" class="form-control"
                     placeholder="◯丁目◯番"
                     required/>
            </div>
          </div>


          <div class="row mb-3">
            <label class="col-form-label col-sm-4">建物名・部屋番号等</label>
            <div class="col-sm-8">
              <input type="text" name="address-line2" autocomplete="address-line2" class="form-control"
                     placeholder="コーポ◯◯ 101号室"/>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <label class="col-sm-3 col-form-label">メールアドレス <span class="badge bg-danger">必須</span></label>
        <div class="col-sm-9">
          <p>
            <input type="email" name="email" autocomplete="email" class="form-control" placeholder="yourname@example.com"
                   required/>
          </p>
        </div>
      </div>


      <div class="row">
        <label class="col-sm-3 col-form-label">職業</label>
        <div class="col-sm-9" style="padding-top: 5px;">
          <select name="organization" autocomplete="organization"
          autocapitalize="off">
            <option selected="">----</option>
            <option value="Managers">経営者</option>
            <option value="executives">会社役員</option>
            <option value="salaryman">会社員</option>
            <option value="Part-time">パート・アルバイト</option>
            <option value="Civil-servant">公務員</option>
            <option value="Housewife">専業主婦/専業主夫</option>
            <option value="Undergraduate">大学生・大学院生</option>
            <option value="Vocational-school-student">専門学生</option>
            <option value="Highschol-student">高校生</option>
            <option value="Physician">医師</option>
            <option value="Professionals">士業（公認会計士・弁護士・税理士・司法書士）</option>
            <option value="Unemployed">無職</option>
          </select>
        </div>
      </div>



      </div>

      <div class="text-center my-5">
        <button type="submit" class="btn btn-primary">確認する (どこにも送信しません)</button>
      </div>

    </form>
  </div>
</body>
</html>
