{% extends "layout-2.html" %}

{% block content %}

<main class="site-content">
    {% if error_message %}
        <div class="error-container">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
    <div class="plans-body">
        <div class="plan-grid-layout">
            {% for plan in plans %}
                <div class="plan-grid-item">
                    <!-- 以下に値を渡す -->
                    <a href="{{ url_for('plan_content',user_id=plan["user_id"],post_id=plan["id"]) }}">
                        <div class="thumbnail">
                            <img src="https://img.youtube.com/vi/{{ plan["video_id"] }}/maxresdefault.jpg" alt="picture">
                        </div>
                    </a>
                        <div class="plan-info">
                            <div class="plan-user-info">
                                <img class="plan-profile__img" src="../static/img/profile01.jpeg" width ="45" height="45" alt="profile">
                            </div>
                            <div class="plan-details">
                            <a href="{{ url_for('plan_content',user_id=plan["user_id"],post_id=plan["id"]) }}">
                                <h3>{{ plan["title"] }}</h3>
                            </a>
                            <p>ユーザーネーム</p>
                            </div>
                        </div>
                </div>
                
            {% endfor %}
        
        </div>

        <div class="pagination">
            <!--(1)前のページ-->
            {% if (CurPage - 1) > 0 %}
            <a href="plans?page={{ CurPage - 1}}" class="btn btn-outline-primary">{{ CurPage - 1}}</a>
            {% endif %}

            <!--(1)現在のページ-->
            <li class="page-item active">
                <a href="#" class="btn btn-outline-secondary">{{ CurPage }}</a>
            </li>
            <!--(2)次のページ-->
            {% if (CurPage + 1) <= MaxPage %}
            <a href="plans?page={{ CurPage + 1}}" class="btn btn-outline-primary">{{ CurPage + 1}}</a>
            {% endif %}
        </div>

    </div>

</main>

{% endblock %}