{% extends "layout-3.html" %}

{% block title %}
T-log post
{% endblock %}

{% block content %}
<main class="post-wrapper">
    <section class="banner">
        <div class="post-banner-wrapper">
            <p>＼あなたの<br class="spOnly">思い出が誰かの思い出に／
            <h1>
                <figure>
                    <picture>
                        <!-- <source media="(max-width:749px)" srcset="static/img/logo_sp.png" /> -->
                        <img src="static/img/logo.png" alt="T-log Logo" class="post-logo">
                    </picture>
                </figure>
            </h1>
            <p>最高の旅行体験を、あなたに。</p>
        </div>
    </section>
    <section class="planning">
        <h2 class="head-text"><span class="under">プランを<br class="spOnly">投稿する</span></h2>
        <form action="" method="POST" id="form_id" class="planning-form">
            <div class="mt-5 mb-4">
                <label for="plan-title" class="form-label" name="form-label">プランのタイトル＊</label>
                <input type="text" class="form-control post-form-control required plan-title" id="plan_title" name="plan_title" placeholder="プランのタイトルを入力">
            </div>
            <div class="mb-4">
                <label for="vlog-url" class="form-label">YouTubeのURL＊</label>
                <input type="url" class="form-control post-form-control required vlog-url" id="vlog-url" name="vlog_url" placeholder="YouTubeのURLを入力">
            </div>
            <div class="mb-4">
                <label for="trip-days" class="form-label">旅行日数＊</label>
                <select class="form-control post-form-control form-select" aria-label="Default select example" id="days" name="days" required>
                    <option disabled="disabled" selected>旅行日数を選んでください</option>
                    <option value="日帰り">日帰り</option>
                    <option value="1泊2日">1泊2日</option>
                    <option value="2泊3日">2泊3日</option>
                    <option value="2泊3日">2泊3日</option>
                    <option value="3泊4日">3泊4日</option>
                    <option value="4泊5日">4泊5日</option>
                    <option value="5泊6日">5泊6日</option>
                    <option value="1週間">1週間</option>
                    <option value="2週間">2週間</option>
                    <option value="3週間">3週間</option>
                    <option value="1ヶ月以上">1ヶ月以上</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="costs" class="form-label">一人当たりの予算(円)＊</label>
                <input type="number" step="1000" class="form-control post-form-control" id="costs" name="costs" placeholder="旅の費用を入力" min="0" required>
            </div>
            <div class="plan-places">
                <p class="place-label">場所＊</p>
                <div class="place-container" id="place-container">
                    <div class="mb-3">
                        <!-- <label for="place" class="form-label">1番目</label> -->
                        <input type="text" class="form-control post-form-control autocomplete" id="autocomplete" name="place01" placeholder="場所を入力し、選択して下さい" required>
                        <p class="is-error-place01"></p>
                        <input type="hidden" id="place_name_1" name="place_name_1" value="">
                        <input type="hidden" id="place_id_1" name="place_id_1" value="">
                    </div>
                </div>
                <div class="mt-3 mb-4 d-flex btn-wrapper">
                    <button type="button" class="btn add-plan-btn" id="add-plan-btn">＋</button>
                    <span class="add-text">場所を追加</span>
                    <!-- <button type="button" class="btn delete-plan-btn">場所を削除</button> -->
                </div>
                <input type="hidden" id="place_sum" name="place_sum" value="">
            </div>
            <div class="description_wrapper">
                <label for="description" class="form-label">プランの概要＊</label>
                <textarea class="form-control post-form-control" id="description" name="description" placeholder="旅行の概要を入力" wrap="soft"></textarea>
            </div>
            <div class="mt-5 submit-container">
                <button type="submit" id="submit-plan-btn" class="btn btn-primary submit-plan-btn">次へ</button>
            </div>
        </form>
    </section>
</main>

<script type="text/javascript" src="../static/javascripts/addplan.js"></script>
<script type="text/javascript" src="../static/javascripts/search.js"></script>
<script type="text/javascript" src="../static/javascripts/jquery.validate.js"></script>
<script type="text/javascript" src="../static/javascripts/post.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzPnXBdTHVD7TPyVKGuaGjnwZjh2Jyif0&libraries=places&callback=initMap"></script>
{% endblock %}
